# ==========================================
# Ambiente e Servidor
# ==========================================
NODE_ENV=development
PORT=3000

# ==========================================
# PostgreSQL (Dados Estruturados)
# ==========================================
POSTGRES_HOST=postgres-pep
POSTGRES_PORT=5432
POSTGRES_USER=seu_usuario_postgres
POSTGRES_PASSWORD=sua_senha_postgres
POSTGRES_DB=pep_relacional

# ==========================================
# MongoDB (Dados Semiestruturados/Prontuários)
# ==========================================
MONGO_HOST=mongo-pep
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=seu_usuario_mongo
MONGO_INITDB_ROOT_PASSWORD=sua_senha_mongo
MONGO_INITDB_DATABASE=pep_nao_relacional

# ==========================================
# Criptografia (LGPD - AES-256-GCM)
# ==========================================
CRYPTO_SECRET=sua_chave_secreta_aqui